/*contact-form*/

form{
margin-top: 50 px;
transition: all 4s ease-in-out;

}
.form-control{
	width: 600px;
	background: transparent;
	border:none;
	outline:none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}